#efeito {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.destaque {
  background-color: red;
  width: 1;
}

.encolher {
  background-color: gray;
  width: 50px !important;
}

.classeC {
  border: 1px black solid;
  background-color: red;
}
.c2 {
  border: 5px black solid;
  color: green;
}
